*{
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background: #FFF5FF;
}

input{
    font-family: 'Inter', sans-serif;
}

textarea{
    font-family: 'Inter', sans-serif;
}

button{
    font-family: 'Inter', sans-serif;
}

.container{
    margin: 0 15%;
    position: absolute;
    width: 70%;
    height: 100%;
    background: #FFF5FF;
}

/*LOGO*/

.logo{
    width: 3%;
    position: absolute;
    margin:0;
    top: 3%;
    left:10%;
}

.logo-img{
    width: 50%;
    transition: 100ms;
    filter: brightness(0) saturate(100%) invert(15%) 
            sepia(88%) saturate(3185%) hue-rotate(213deg)
            brightness(79%) contrast(117%) 
            drop-shadow(0px 4px 0px #91a8ed);
}

.logo:active{
    transform: translateY(4px);
    filter:invert(60%);
}

/*LADO IZQUIERDO*/

.left-buttons{
    top: 10%;
    left: 16%;
    width: 55%;
    height: 90%;
    margin: 0;
    border-radius: 24px;
    position:absolute;
}

.ingrese-texto{
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    position: absolute;
}

#input-texto{
    top:0;
    position: absolute;
    width: 93%;
    height: 85%;
    padding: 5%;
    margin: 0;
    border-radius: 24px;
    border:none;
    background: #FFFFFF;
    box-shadow: 10px 10px 20px 1px rgb(145 168 237 / 10%),
    15px 15px 25px 6px rgb(145 168 237 / 20%),
    30px 30px 50px 12px rgb(145 168 237 / 30%);
    transition: 500ms;
    color: #002E99;
    resize: none;
    font-size: 120%;
}

#input-texto:hover{
    width: 94%;
    height: 86%;
}

#input-texto::placeholder{
    font-size: 150%;
    color: #002E99;
}

#input-texto:focus::-webkit-input-placeholder {
    transition: text-indent 500ms 500ms ease; 
    text-indent: -100%;
    opacity: 1;
} 

/*BOTONES IZQUIERDOS*/

.advertencia{
    top:74%;
    left: 8%;
    width:100%;
    height: 5%;
    margin: 0;
    padding: 0;
    position: absolute;
}

#exclamation{
    margin: 2% 1% 2% 0;
    display: inline-block;
    filter: brightness(0) saturate(100%) invert(15%) 
            sepia(88%) saturate(3185%) hue-rotate(213deg)
            brightness(79%) contrast(117%);
}

.advertencia p{
    margin: 2.3% 0 2%;
    width:85%;
    position: absolute;
    display: inline-block;
    color: #002E99;
    font-size: 70%;
}

.botones{
    top:83%;
    width: 100%;
    height: 15%;
    margin: 0;
    padding: 0;
    position: absolute;
}

#btn-encriptar{
    left:8%;
    margin: 0;
    padding: 1%;
    width:38%;
    height: 50%;
    position: absolute;
    background: #002E99;
    color: #FFF;
    border-radius: 15px;
    border: 2px solid #91a8ed;
    font-weight:bold;
    font-size: 80%;
    transition: 100ms;
    box-shadow: 0 6px 0 #91a8ed;
}

#btn-encriptar:hover{
    cursor: pointer;
}

#btn-encriptar:active{
    transform: translateY(6px);
    box-shadow: 0 0 0;
}

#btn-desencriptar{
    left:48%;
    padding: 1%;
    width:38%;
    height: 50%;
    position: absolute;
    background:  #FAF8FF;
    color: #002E99;;
    border-radius: 15px;
    border: 2px solid #91a8ed;
    font-weight:bold;
    font-size: 80%;
    transition: 100ms;
    box-shadow: 0 6px 0 #91a8ed;
}

#btn-desencriptar:hover{
    cursor: pointer;
}

#btn-desencriptar:active{
    transform: translateY(6px);
    box-shadow: 0 0 0;
}

/*LADO DERECHO*/

.right{
    top:10%;
    left: 72%;
    width: 25%;
    height: 85%;
    margin: 0;
    border-radius: 24px;
    position: absolute;
    background: #FFF;
    transition: 500ms;
     box-shadow: 10px 10px 20px 1px rgb(145 168 237 / 10%),
                    15px 15px 25px 6px rgb(145 168 237 / 20%),
                    30px 30px 50px 12px rgb(145 168 237 / 30%);
}

.right:hover{
    width:26%;
    height: 86%;
}

.mover-3elementos{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
}

#muñeco{
    margin: 45% 10% 0;
    width: 80%;
    height: 40%;
    
}

#texto-encontrado{
    width: 70%;
    margin: 0 15%;
    height: 10%;
    text-align: center;
    color: #002E99;
    font-size: 110%;
    font-weight:bolder;
}

#texto-ingresado{
    margin: 0 10%;
    padding: 0; 
    width: 80%;
    height: 7%;
    border: none;
    color: #002E99;
    font-size: 80%;
    text-align: center;
    background: #FFF;
    resize: none;
}

#texto-ingresado-oculto{
    margin: 0;
    padding: 5%; 
    width: 100%;
    height: 90%;
    border: none;
    border-radius: 15px;
    outline: none;
    color: #002E99;
    font-size: 80%;
    text-align: center;
    background: #FFF;
    resize: none;
    display: none;
}

#copiar{
    margin:0 20%;
    padding: 0;
    width: 60%;
    height: 7%;
    background: #FAF8FF;
    border-radius: 15px;
    border: 2px solid #91a8ed;
    color: #002E99;
    font-size: 80%;
    font-weight: bold;
    display: none;
    transition: 100ms;
    box-shadow: 0 6px 0 #91a8ed;
}

#copiar:hover{
    cursor: pointer;
}

#copiar:active{
    transform: translateY(6px);
    box-shadow: 0 0 0;
}

/*PIE DE PAGINA*/

footer{
    top: 120%;
    width: 100%;
    height: 25%;
    position: absolute;
    font-family: 'Inter', sans-serif;
    background: #FFF5FF;
}

footer h2{
    margin-top: 2%;
    margin-bottom: 4%;
    font-size: 100%;
    color:#002E99
}
footer label{
    font-size: 80%;
    color: #002E99;
}

.container-footer{
    margin-right: 35%;
    margin-left: 26%;
    width:40%;
    height: 100%;
    position: absolute;
}

.columna1{
    top:0;
    left: 0;
    width: 40%;
    height: 80%;
    margin: 0;
    position: absolute;
}

.fila1{
    display: flex;
    margin-top: 2%;
}

.fila1 a{
    width:7%;
}

.fila1 img{
    width: 100%;
    filter: brightness(0) saturate(100%) invert(15%) 
            sepia(88%) saturate(3185%) hue-rotate(213deg)
            brightness(79%) contrast(117%);
}

.fila1 label{
    margin-left: 3%;
    height: 100%;
}

.columna2{
    top:0;
    left: 40%;
    width: 60%;
    height: 80%;
    margin: 0;
    position: absolute;
}

.fila2{
    margin-top: 2%;
    display: flex;
}

.fila2 img{
    width: 5%;  
    filter: brightness(0) saturate(100%) invert(15%) 
            sepia(88%) saturate(3185%) hue-rotate(213deg)
            brightness(79%) contrast(117%);
}

.fila2 label{
    margin-left: 3%;
    margin-bottom: 0;
    height: 100%;
}

.fondo{
    top: 75%;
    width:100%;
    height: 20%;
    position: absolute;
}

/*RESPONSIVE PARA CELULAR*/


@media screen and (max-width: 480px){
    *{
        box-sizing: border-box;
    }

    body{
        font-family: 'Inter', sans-serif;
        margin: 0;
        padding: 0;
    }
    
    input{
        font-family: 'Inter', sans-serif;
    }
    
    textarea{
        font-family: 'Inter', sans-serif;
    }
    
    button{
        font-family: 'Inter', sans-serif;
    }
    
    .container{
        margin: 0;
        position: absolute;
        width: 100%;
        height: 1000px;
        background: #FFF5FF;
    }
    
    /*LOGO*/
    
    .logo{
        width: 8%;
        position: absolute;
        margin:0;
        top: 1%;
        left:4%;
    }
    
    .logo-img{
        transition:100ms;
        width: 50%;
        transition: 100ms;
        filter: brightness(0) saturate(100%) invert(15%) 
        sepia(88%) saturate(3185%) hue-rotate(213deg)
        brightness(79%) contrast(117%) drop-shadow(0px 4px 0px #91a8ed);
    }
    
    .logo:active{
        transform: translateY(4px);
        filter:invert(60%);
    }
    
    /*LADO IZQUIERDO*/

    .left-buttons{
        top: 35px;
        left:0;
        margin: 3% 10%;
        width: 80%;
        height: 435px;
        border-radius: 24px;
        position:absolute;
        display: inline;
    }
    
    .ingrese-texto{
        top:0;
        left:0;
        margin: 0;
        width: 100%;
        height: 300px;
        position: absolute;
        border-radius: 24px;
        background: inherit;
        box-shadow: 10px 10px 20px 1px rgb(145 168 237 / 10%),
                    15px 15px 25px 6px rgb(145 168 237 / 20%),
                    30px 30px 50px 12px rgb(145 168 237 / 30%);
    }
    
    #input-texto{
        top:0;
        width: 100%;
        height: 100%;
        padding: 10%;
        margin: 0;
        border: none;
        border-radius: 24px;
        background:#FFFFFF;
        font-size: 25px;
        color:#002E99;
        resize: none;
        box-shadow: none;
    }    
    
    #input-texto:focus::-webkit-input-placeholder {
        transition: text-indent 500ms 500ms ease; 
        text-indent: -150%;
        opacity: 1;
    }

    #input-texto:hover{
        width: 100%;
        height: 100%; 
    }
    
    #input-texto::placeholder{
        font-size: 30px;
        color: #002E99;
    }
    
    /*BOTONES IZQUIERDOS*/
    
    .advertencia{
        top:325px;
        left:0;
        margin:0;
        width: 100%;
        height: 30px;
        position: absolute;
    }
    
    #exclamation{
        left:0;
        margin-right: 1%;
        margin-left:2%;
        position: absolute;
        filter: brightness(0) saturate(100%) invert(15%) 
                sepia(88%) saturate(3185%) hue-rotate(213deg)
                brightness(79%) contrast(117%);
    }

    .advertencia p{
        left:8%;
        width:85%;
        height: 60%;
        margin: 2% 2%;
        position: absolute;
        font-size: 70%;
        font-weight: 100;
        color: #002E99;
    }
    
    .botones{
        top:370px;
        left:0.1%;
        width: 100%;
        height: 80px;
        margin: 0;
        position: absolute;
        display: inline-block;
        border-radius: 24px;
    }
    
    #btn-encriptar{
        top: 0;
        left: 0;
        width: 49%;
        height: 70%;
        padding: 5%;
        margin:0;
        background: #002E99;
        color: #FFF;
        font-weight: bold;
        border-radius: 17px;
        border-color: #91a8ed;
        border-style: solid;
        border-width: 1px;
        transition: 100ms;
        box-shadow: 0 6px 0 #91a8ed;
    }
    
    #btn-encriptar:active{
        transform: translateY(6px);
        box-shadow: 0 0 0;
    }
    
    #btn-desencriptar{
        top: 0;
        left:51%;
        width: 49%;
        height: 70%;
        padding: 5%;
        margin:0;
        background: #FAF8FF;
        color: #002E99;
        font-weight: bold;
        border-radius: 17px;
        border-color: #91a8ed;
        border-style: solid;
        border-width: 1px;
        transition: 100ms;
        box-shadow: 0 6px 0 #91a8ed;
    }
    
    #btn-desencriptar:active{
        transform: translateY(6px);
        box-shadow: 0 0 0;
    }
    
    /*LADO DERECHO*/
    
    .right{
        top:495px;
        width: 80%;
        left:0;
        height: 300px;
        margin: 3% 10%;
        padding: 0;
        border-radius: 24px;
        position: absolute;
        background: #FFFFFF;
        transition: 500ms;
        box-shadow: 10px 10px 20px 1px rgb(145 168 237 / 10%),
                    15px 15px 25px 6px rgb(145 168 237 / 20%),
                    30px 30px 50px 12px rgb(145 168 237 / 30%);
    }

    .right:hover{
        width:80%;
        height: 300px;
        padding-left: 0;
    }
        
    .mover-3elementos{
        top:0;
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        border-radius: 24px;
    }
    
    #muñeco{
        margin: 5% 6%;
        width: 88%;
        display: none;
    }
    
    #texto-encontrado{
        width: 100%;
        height: 120px;
        margin:0;
        padding:20% 10% 0;
        text-align: center;
        font-size: 25px;
        font-weight:bold;
        color: #002E99;
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
    }
    
    #texto-ingresado{
        width: 100%;
        height: 180px;
        margin: 0;
        padding: 15% 10% 0; 
        border: none;
        color: #002E99;
        font-size: 15px;
        font-weight: lighter;
        text-align: center;
        background: inherit;
        resize: none;
        border-bottom-left-radius: 24px;
        border-bottom-right-radius: 24px;
    }
    
    #texto-ingresado-oculto{
        margin: 0;
        padding: 10%; 
        width: 100%;
        height: 220px;
        color: #002E99;
        font-size: 25px;
        font-weight:lighter;
        text-align: left;
        background: inherit;
        resize: none;
        display: none;
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
    }
    
    #copiar{
        top: 220px;
        margin: 5% 20%;
        padding: 0;
        width: 60%;
        height: 15%;
        color:#002E99;
        background: #FAF8FF;
        border-radius: 15px;
        border-color: #91a8ed;
        border-style: solid;
        border-width: 1px;
        position: absolute;
        transition: 5ms;
        box-shadow: 0 6px 0 #91a8ed;
        display: none;
    }
    
    #copiar:active{
        transform: translateY(6px);
        box-shadow: 0 0 0;
    }
    
    /*PIE DE PAGINA*/
    
    footer{
        top: 1000px;
        width: 100%;
        height: 180px;
        padding:0;
        position: absolute;
        font-family: 'Inter', sans-serif;
        background:#FFF5FF;
    }
    
    footer h2{
        margin-top: 2%;
        margin-bottom: 10%;
        font-size: 100%;
        color:#002E99
    }
    footer label{
        font-size: 80%;
        color: #002E99;
    }
    
    .container-footer{
        margin: 0;
        width:100%;
        height: 100%;
        position: absolute;
    }
    
    .columna1{
        top:0;
        left: 5%;
        width: 35%;
        height: 70%;
        margin: 0;
        position: absolute;
    }
    
    .fila1{
        display: flex;
        margin-top: 2%;
    }
    
    .fila1 a{
        width: 10%;
    }
    
    .fila1 img{
        width: 100%;
        filter: brightness(0) saturate(100%) invert(15%) 
                sepia(88%) saturate(3185%) hue-rotate(213deg)
                brightness(79%) contrast(117%);
    }
    
    .fila1 label{
        margin-left: 3%;
        height: 100%;
    }
    
    .columna2{
        top:0;
        left: 45%;
        width: 55%;
        height: 70%;
        margin: 0;
        position: absolute;
    }
    
    .fila2{
        margin-top: 2%;
        display: flex;
    }
    
    .fila2 img{
        width: 7%;  
        filter: brightness(0) saturate(100%) invert(15%) 
                sepia(88%) saturate(3185%) hue-rotate(213deg)
                brightness(79%) contrast(117%);
    }
    
    .fila2 label{
        margin-left: 3%;
        margin-bottom: 0;
        height: 100%;
    }
    
    .fondo{
        top: 80%;
        padding: 0 5%;
        width:100%;
        height: 20%;
        position: absolute;
        font-size: 75%;
    }

    .fondo label{
        width: 100%;
    }
}